# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.dylib
*.pyd

# Virtual environment
venv/
.env

# Data and outputs
/data/
/outputs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
